.skill-section {
  padding: 70px 20px;
}

.title {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(90deg, #0d6efd, #67c8ff);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 40px;
}

/* Grid Layout */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

/* Card */
.tech-card {
  display: flex;
  align-items: center;
  gap: 18px;
  color:rgb(220, 209, 209);
  background: rgba(255, 255, 255, 0.07);
  padding: 18px 20px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
  cursor: pointer;
}

.tech-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 28px rgba(0, 132, 255, 0.25);
}

/* Icon */
.tech-icon {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

/* Text */
.tech-info h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.tech-info p {
  margin-top: 4px;
  opacity: 0.8;
  font-size: 14px;
}
